<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.yoridogam.mapper.InquiryMapper">
	<resultMap id="inquiryResultMap" type="com.itwill.yoridogam.inquiry.Inquiry" >
		<result column="IB_NO" property="ib_no"/>
		<result column="IB_TITLE" property="ib_title"/>
		<result column="IB_CONTENT" property="ib_content"/>
		<result column="IB_DATE" property="ib_date"/>
		<result column="IB_VIEWCOUNT" property="ib_viewCount"/>
		<result column="IB_DEPTH" property="ib_depth"/>
		<result column="IB_GROUPNO" property="ib_groupNo"/>
		<result column="IB_STEP" property="ib_step"/>
		<association property="member" javaType="com.itwill.yoridogam.member.Member" autoMapping="true">
			<result column="M_ID" property="m_id"/>
		</association>
	</resultMap>
	
	<insert id="insertInquiry" parameterType="com.itwill.yoridogam.inquiry.Inquiry">
		insert into inquiry	values(inquiry_ib_no_SEQ.nextval, 
									#{ib_title},
									#{ib_content},
									sysdate,
									0,
									0,
									inquiry_ib_no_SEQ.nextval,
									1,
									#{member.m_id})

	</insert>
	
	<update id="updateInquiry">
		update inquiry set IB_TITLE=#{ib_title}, IB_CONTENT=#{ib_content} 
			where IB_NO=#{ib_no}

	</update>
	
	<insert id="insertInquiryA" parameterType="com.itwill.yoridogam.inquiry.Inquiry">
		insert into inquiry VALUES(inquiry_ib_no_SEQ.nextval, 
									#{ib_title},
									#{ib_content},
									sysdate,
									0,
									1,
									#{ib_groupNo},
									2,
									#{member.m_id})
	</insert>
	
	<update id="updateInquiryA">
		update inquiry set IB_TITLE=#{ib_title}, IB_CONTENT=#{ib_content} 
			where IB_NO=#{ib_no}
	</update>
	
	<delete id="deleteInquiry" parameterType="java.lang.Integer">
		DELETE FROM inquiry WHERE IB_NO=#{ib_no}
	</delete>
	
	<select id="selectByAllInquiry" resultType="com.itwill.yoridogam.inquiry.Inquiry">
		select * from inquiry
	</select>
	
	<select id="selectByNoInquiry" parameterType="java.lang.Integer" resultType="com.itwill.yoridogam.inquiry.Inquiry">
		select * from inquiry where IB_NO=#{ib_no}
	</select>
	
	<update id="updateInquiryViewCount" parameterType="java.lang.Integer">
		update inquiry set IB_VIEWCOUNT = IB_VIEWCOUNT+1 where IB_NO=#{ib_no}
	</update>
	
	<select id="countAllInquiry" resultType="java.lang.Integer">
		select count(*) from inquiry
	</select>
	
	<select id="countA" parameterType="com.itwill.yoridogam.inquiry.Inquiry" resultType="java.lang.Integer">
		select count(*) from inquiry where IB_GROUPNO = #{ib_groupNo}
			and IB_DEPTH >= #{ib_depth} and IB_STEP >= #{ib_step}
			order by IB_STEP, IB_DEPTH asc
	</select>
	
	
</mapper>
