<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.yoridogam.mapper.MemberMapper">
	<!-- findMember -->
	<select id="findMember" parameterType="java.lang.String" resultType="com.itwill.yoridogam.member.Member">
		select * from member where m_id=#{m_id}
	</select>
	<insert id="create" parameterType="com.itwill.yoridogam.member.Member">
		insert into member(m_id,m_name,m_pass,m_addr,m_email,m_phone,m_interest,m_gender) 
		values(#{m_id},#{m_name},#{m_pass},#{m_addr},#{m_email},#{m_phone},#{m_interest},#{m_gender})
	</insert>


</mapper>