<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.yoridogam.mapper.ReservationMapper">
<!-- 
<resultMap type="com.itwill.yoridogam.domain.Member" id="ResultMap">
	<result column="MEMBER_NO" property="m_id"/>
</resultMap>
 -->
 
 <!-- 오프라인 강의예약 insert -->
<insert id="create" parameterType="com.itwill.yoridogam.domain.Reservation">
 insert into reservation(rsv_no, rsv_total, rsv_type, rsv_qty, rsv_date, rsv_time, rsv_paydate, m_id, p_no)
values(RESERVATION_RSV_NO_SEQ.nextval,#{rsv_total},#{rsv_type},#{rsv_qty},to_date(#{rsv_date},'YYYY/MM/DD'),#{rsv_time},sysdate,#{m_id},#{p_no})
</insert>

<!-- select는 member이랑 product가 구현될시 구현하겠습니다. -->

<!-- m_id회원 특정 예약 삭제 -->
<delete id="delete" parameterType="com.itwill.yoridogam.domain.Reservation">
delete from reservation where rsv_no=#{rsv_no} and m_id=#{m_id}
</delete>

<!-- m_id회원 전체 예약 삭제 -->
<delete id="deleteAll" parameterType="com.itwill.yoridogam.domain.Reservation">
delete from reservation where m_id=#{m_id}
</delete>


</mapper>