.products-catagories-area{
	padding: 60px;
}

.single-products-catagory {
    padding: 25px;
}

.error { width: 250px; height: 20px; height:auto; position: fixed; left: 50%; margin-left:-125px; bottom: 100px; z-index: 9999; background-color: #383838; color: #F0F0F0; font-family: Calibri; font-size: 15px; padding: 10px; text-align:center; border-radius: 2px; -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1); -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1); box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1); }

.info-title {
    display: block;
    background: #50627F;
    color: #fff;
    text-align: center;
    height: 24px;
    line-height:22px;
    border-radius:4px;
    padding:0px 10px;
}

/*지도 마커 위 인포 공통 css*/
.mapInfoBox{
	width:200px;
	text-overflow: ellipsis; 
	overflow:hidden;
	white-space: nowrap;
	text-align:center;
	padding:6px;
}

